<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SimpleSpider</title>

        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" />
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">SimpleSpider</a>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Connection form -->
			
			<div id="result">
			crawl work queue size is {{crawl_work_queue_size}}
            </div>
            <div id="result">
			collect work queue size is {{collect_work_queue_size}}
            </div>
			

            <div id="term">
            </div>

        </div>

        <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
        </script>
    </body>
</html>
